// ------------------------ navbar cart icon START------------------------ //
.cart-navbar-icon {
    top: 5px;
    padding: 3px 0.2px;
    position: relative;
    display: inline-block;
}
.cart-item-count-badge {
    position: absolute;
    top: -8px;
    left: 32px;
    padding: 1px 7px;
    width: 8px;
    border-radius: 50%;
    font-size: 1.5vh;
    background: orange;
    color: black;
    display: flex;
    justify-content: center;
}
// ------------------------ navbar cart icon END------------------------ //
.cart-show-component {
    margin-right: 5vh;
    margin-left: 5vh;
}

.cart-show-header {
    display: flex;
    justify-content: space-between;
}

.cart-show-keep-shopping-button {
    all: initial;
  * {
    all: unset;
  }
  // ^ clears all styling
  display: block;
  cursor: pointer;
  border: 1px solid lightgray;
  font-size: 2vh;
  color: rgb(96, 96, 96);
  padding-right: 1.4vh;
  padding-left: 1.4vh;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  text-decoration: none; 
  border-radius: 7px;
  margin: 7px;
  text-align: center;
  font-weight: 30;
//   task : Fix 'keep shopping' styling. Make sure that clikcing
    //   the button doesn't take you anywhere
}

.cart-show-keep-shopping-button:hover {
    background-color: rgb(247, 247, 247)
}

.cart-content-container {
    display: flex;
    padding: 18px;
}


.checkout-payment-method-icon {
    border: 1px solid lightgray;
    padding-right: 0.5vh;
    padding-left: 0.5vh;
    border-radius: 4px;
    margin-right: 0.4vh;
}

.cart-show-items-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 1.6vh;
    padding-top: 0.4vh;
}

.cart-show-items-total-price {
    font-size: 1.8vh;
}

.cart-products-ul-col {
    padding: 0;
    padding-right: 18px;
    width: 70%;
    border-right: 1px solid lightgray;
}

.cart-show-checkout-col {
    padding-left: 18px;
    width: 30%;
}

#proceed-to-checkout-button {
    margin: 0; 
    padding-top: 12px;
    font-family: 'Noto Serif', serif;
    width: 85%;
}

.cart-show-payment-option {
    padding-bottom: 6px; 
}

.cart-products-item-li {
    list-style-type: none;
    padding-bottom: 1vh;
    border-bottom: 1px solid lightgrey;
}

// ------------------------ checkout radio button START------------------------ //
input[type='radio'] {
    // margin: 0;
    // clear: none;
    // background: lightgray left center no-repeat; 
    // margin: .4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 2vh;
    height: 2vh;

    border: 1px solid rgb(191, 191, 191);
    transition: 0.2s all linear;
    margin-right: 0.7vh;
    margin-bottom: 1vh;
    
    position: relative;
    top: 4px;
}

input[type='radio']:hover {
    border: 1px solid rgb(135, 135, 135);
}

input[type='radio']:checked{
    border: 1px solid rgb(171, 171, 171);
    background-color: orange;
}
// Radio button styling inspired by: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio
// Task : add white spacing between checked radio button and border
// ------------------------ checkout radio button END------------------------ //

.cart-is-empty-message-container {
    padding-top: 24px;
    width: 100%; 
    text-align: center;
}

.cart-is-empty-message-box {
    padding: 18px;
    border: 1px solid lightgray;
    width: 80%;

    display: inline-block; 
    margin: 0 auto;
}
// Centering technique applied to .cart-is-empty-message-container and .cart-is-empty-message-box
    //  : https://www.w3docs.com/snippets/css/how-to-horizontally-center-a-div-in-another-div.html

.cart-is-empty-message {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.cart-is-empty-link-div {
    display: block;
    padding-bottom: 12px;
    text-align: center;
}

.cart-is-empty-link {
    color: black; 
}

.cart-is-empty-link:hover {
    color: rgb(57, 57, 57); 
}