.drawer-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 1;
  display: block;
  animation: fade-in 0.1s ease-in;
}

.drawer-background.closed {
  visibility: hidden;
  animation: fade-out 0.3s ease-in;
}

.drawer-child {
  font-family: 'Raleway';
  position: absolute;
  width: 100%;
  background-color: white;
}

.drawer-child.up {
  border-top: 1rem solid purple;
  bottom: 0;
  height: 80%;
}

.drawer-close-btn {
  float: right;
  font-size: 4rem;
  margin: 1rem 2rem 0 0;
  color: gray;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
