.footer-top-edges {
    width: 100%;
    height: 13vh;
}

.footer-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.personal-links-container {
    margin-top: 10px;
    position: absolute;
    right: 2vw;
    top: 6vh;
}

.personal-account-img-link {
    width: 4vw;
    max-width: 30px;
    height: 100%;
    fill: white;
    margin-left: 0.5vw;
    opacity: 0.8;
}

.personal-account-img-link:hover {
    opacity: 1;
}

.footer-documentation-button {
    position: absolute;
    color: white;
    left: 1vw;
    top: 8.3vh;
    opacity: 0.8;
}

.footer-documentation-button:hover {
    opacity: 1.0;
}

#root {
    min-height: 120vh;
}