.personal-accounts-links {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 20%;
    bottom: 0;
    right: 7px;
}

.personal-account-img-link {
    width: 30px;
    padding-right: 10px;
}

.personal-account-img-link:hover {
    opacity: 0.6;
}

.personal-account-img-link.github {
    padding-left: 7px;
}

#root {
    min-height: 120vh;
}