.personal-accounts-links {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    right: 10%;
}

.personal-account-img-link {
    width: 30px;
    padding-right: 10px;
}

.personal-account-img-link.linkedin {
    padding-right: 0px;
}

.personal-account-img-link:hover {
    opacity: 0.6;
}

#root {
    min-height: 120vh;
}