.product-index-image {
    object-fit: scale-down;
    width: 12.5rem;
    height: 10rem;
    object-position: 50% 50%;
    border: 0.03rem solid lightgray; 
}

.product-index-item-price {
    margin: 0;
    color: black;
    font-size: 2vh;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
}

.product-index-item {
    padding: 0.9rem;
    max-width: 12.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.product-index-item-list-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10rem;
}

.product-index-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.product-index-item-seller-username {
    margin: 0;
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    font-size: 1.4vh;
    color: #595959;
}

.product-index-item-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    // ^^^ Source for text-wrap: https://stackoverflow.com/a/34559614/7974948
    color: black; 
    font-size: 1.8vh;
    margin: 0;
}

.product_index_catchphrase {
    text-align: center;
}

.product_index_photo_carousel_image {
    object-fit: scale-down;
    height: 50vh;
}

.products-index-what-is-jewely-container {
    padding-bottom: 13vh;
    text-align: center;
    background-color: #fcf0e3;
}

.products-index-what-is-jewely-img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 80rem;
}
