.product-show-image {
    max-width: 42%;
    height: auto;
    float: left;
    padding-right: 12px;
    padding-left: 18px;
    margin-bottom: 25px;
    display: inline-block;
    overflow: hidden;  
}

.listing-right-column {
    padding-right: 18px;
    padding-left: 12px;
}

.product-show-title {
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    padding-bottom: 12px;
    text-rendering: optimizeLegibility;
}

.product-show-price {
    font-family: 'Poppins', sans-serif;
    // font-weight: bold;
    font-size: 130%;
    line-height: 1.4;
}

.quantity-label {
    display: block;
    padding-bottom: 6px;
    font-family: 'Raleway', sans-serif;
}

.product-show-quantity-select {
    // display: flex;
    // flex-direction: row;
    padding-bottom: 1vh;
}

.product-show-add-to-cart-button {
  all: initial;
  * {
     all: unset;
  }
  display: block;
  cursor: pointer;
  border: 1px solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none; 
  border-radius: 3px;
  border-style: solid;
  color: white;
  margin-top: 7px;
  text-align: center;
  background-color: black;
  font-size: 15px;
  line-height: 1.2;
  width: 35vw;
  border-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

.product-show-add-to-cart-button:hover {
    background-color: rgb(55, 55, 55);
}

.product-show-add-to-cart-button-text {
    color: white;
}

.product-show-quantity-dropdown {
    background-color: white;
    display: inline;
    font-size: 13px;
    border-radius: 3px;
    border-style: none;
    border: 1px solid #E1E3DF;
    box-shadow: none;
    height: 30px;
    width: 45px;
}

.product-show-seller-username {
    color: #757575;
    text-decoration: none;
    font-size: 1.8vh;
}

.product-show-seller-username:hover {
    text-decoration: underline;
}

.clearfix {
  overflow: auto;
}

.product-listing {
    padding-top: 30px;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}
// ------- product show lower details (doesn't include comments) START ------- //
.product-show-column {
    float: left;
    padding-right: 18px;
    padding-left: 18px;
    box-sizing: border-box;
    margin-bottom: 5%; 
}

.product-show-column1 {
    width: 100%;
    display: block;
    
}

.product-show-lower {
    box-sizing: border-box;
    clear: both;
}

.product-show-lower:after {
    content: "";
    display: table;
    clear: both;
}

.product-show-description {
    margin: 0px;
}

.product-show-description-details-label {
    margin: 0; 
    font-weight: bolder;
}

// ------- product show lower details (doesn't include comments) END ------- //

.product-show-carousel-image {
    width: 100%;   
}
.product-show-images {
    width: 40%;
}

.product-show-lower {
    margin-right: 10%;
    margin-left: 10%;   
}