.product-index-image {
    object-fit: scale-down;
    width: 125px;
    height: 100px;
    object-position: 50% 50%;
    border: 0.3px solid lightgray; 
}

.product-index-item-price {
    margin: 0;
    color: black;
}

.product-index-item {
    border: 1px solid blue;
    padding: 9px;
    max-width: 125px;
    
}

.product-index-item-list-container {
    display: flex;
    justify-content: center;
}

.product-index-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
<<<<<<< HEAD
}

.product-index-item-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    // Source for text-wrap: https://stackoverflow.com/a/34559614/7974948
=======
>>>>>>> origin/master
}