.product-index-image {
    object-fit: scale-down;
    width: 125px;
    height: 100px;
    object-position: 50% 50%;
    border: 0.3px solid lightgray; 
}

.product-index-item-price {
    margin: 0;
    color: black;
}

.product-index-item {
    list-style-type: none;
    // display: flex;
    // display: inline-block;
    // align-items: center;
}

.product-index-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}