.product-index-image {
    height: 100px;
    width: 100px;
}

.product-index-item-li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.product-index-item-price {
    margin: 0;
    text-decoration: none;
    color: black;
}

.product-index-ul {
    display: grid;
}
