// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review_form_div {
    background-color: white;
    padding: 30px;
}

.rating-star {
    width: 30px;
}

.rating-stars {
    display: flex;
}

.product-show-review-rating-star {
    width: 20px;
}

.product-show-average-rating-star {
    width: 15px;
}

.product-show-avg-rating-container {
    display: flex;
}

.reviews-count {
    font-size: 13px;
}

.product-show-review-li {
    list-style-type: none;
}

.product-show-review-username {
    color: black;
}

.product-show-review-username:hover {
    color: gray;
}

.product-show-review-username-and-date-container {
    display: flex;
}