// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review_form_div {
    background-color: white;
    padding: 30px;
}

.rating-star {
    width: 30px;
}

.rating-stars {
    display: flex;
}

.product-show-review-rating-star {
    width: 14px;
}

.product-show-average-rating-star {
    width: 18px;
}

.product-show-avg-rating-container {
    display: flex;
}

.reviews-count {
    font-size: 13px;
}

.product-show-review-li {
    list-style-type: none;
}

.product-show-review-username {
    color: black;
}

.product-show-review-username:hover {
    color: gray;
}

.product-show-review-username-and-date-container {
    display: flex;
}

.product-show-reviews-ul {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 75px;
}

.review-form-submit-button {
    all: initial;
    * {
        all: unset;
    }
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 15px;
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    display: inline-block;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    margin-top: 10px;
}

.review-form-submit-button:hover {
    opacity: 0.8;
}