// ------------------------ session form styling START ------------------------ //
.login-form-box {
  border: 0.1rem solid grey;
  margin-bottom: 10%;
  width: 33%;
  padding-right: 7vh;
  padding-left: 7vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.login-form-container {
  padding-top: 4vh;
  display: flex;
  justify-content: center;
}

.session-textbox {
  display: block;
  height: 4.8rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-style: none;
  border: 0.1rem solid #E1E3DF;
  box-shadow: none;
  width: 90%;
}

.session-form-nav-button {
  all: initial;
  * {
    all: unset;
  }
  // ^ clears all styling
  display: block;
  cursor: pointer;
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none; 
  border-radius: 0.7rem;
  color: black;
  margin: 0.7rem;
  text-align: center;
}

.session-form-nav-button:hover {
  background-color: rgb(247, 247, 247)
}


// ------- session 'OR' START------- //
.divider {
	width:100%;
	text-align:center;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
  width:40%;
  color: lightgrey;
}

.left {
	float:left;
}

.right {
	float:right;
}
// source: https://stackoverflow.com/a/2812819/7974948
// ------- session 'OR' END------- //

// ------------------------ session form styling END ------------------------ //
// ------------------------ navbar buttons START------------------------ //
.login-navbar-button {
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none; 
  border-radius: 0.7rem;
  color: black;
}

.login-navbar-button:hover {
  background-color: black;
  color: white;
}

.logout-navbar-button {
  background-color: white;
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none; 
  border-radius: 0.7rem;
  cursor: pointer;
  color: black;
}

.logout-navbar-button:hover {
  background-color: black;
  color: white;
}

// ------------------------ navbar buttons END ------------------------ //
