html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}
.user-show-item-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position:relative;
}
.user-show-item-title {
    float: left;
    padding-left: 1.2rem;
    width: 80%;
    margin: 0;
    padding-bottom: 0.6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7vh;
}

.user-show-item-title:hover {
    text-decoration: underline;
}

.user-show-item-price-container {
    padding-right: 10%;
    width: 10%;
    display: flex;
    align-content: flex-start;
}

.user-show-item-price {
    margin: 0;
    text-decoration: none;
    color: black;
}

.user-show-item-title-container {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.user-show-items-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.user-show-product-list-label {
    margin-top: 1rem;
    padding-left: 1rem;
}

.user-show-products-ul {
    list-style-type: none;
    padding: 0;
}