.cart-products-item {
  display: flex;
  justify-content: space-between;
}

.cart-products-item-price {
  margin: 0;
  text-decoration: none;
  color: black;
}

.cart-products-item-title {
  float: left;
  padding-left: 1.2rem;
  width: 80%;
  margin: 0;
  padding-bottom: 0.6rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7vh;
}

.cart-products-item-title:hover {
  text-decoration: underline;
}

.cart-products-item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.cart-products-item-title-and-remove {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.cart-products-item-remove {
  font-size: 1.5vh;
  left: 0;
  bottom: 0;
  // position: absolute;
  padding-top: 10rem;
}

.cart-product-item-drop-down {
  background-color: white;
  display: inline;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  border-style: none;
  border: 0.1rem solid rgb(200, 201, 199);
  box-shadow: none;
}

.cart-product-item-quantity-and-price {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.cart-products-item-title-link {
  color: black;
}
