.cart-products-item {
    // display: flex;
}

.cart-products-item-price {
    margin: 0;
    text-decoration: none;
    color: black;
}

.cart-products-item-li {
    list-style-type: none;
    padding-bottom: 1vh;
    border-bottom: 1px solid lightgrey;
}


.cart-products-item-title {
    float: left;
    padding-left: 12px;
}

.cart-products-item-details {
    display: flex;
    justify-content: space-between;
}