/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

html,
body {
  min-height: 120vh;
}

body {
  font-size: 1.5rem;
}

svg {
  height: 2.4rem;
  width: 2.4rem;
}

.main-container-div {
  position: relative;
  min-height: 120vh;
}

// ------------------------ navbar cart icon START------------------------ //
.cart-navbar-icon {
  top: 0.5rem;
  padding: 0.3rem 0.02rem;
  position: relative;
  display: inline-block;
  opacity: 0.8;
  padding-left: 1.5rem;
}

.cart-navbar-icon:hover {
  opacity: 1;
}

.cart-item-count-badge {
  position: absolute;
  top: -0.8rem;
  left: 2rem;
  padding: 0.1rem 0.7rem;
  width: 0.8rem;
  border-radius: 50%;
  font-size: 1.5vh;
  background: orange;
  color: black;
  display: flex;
  justify-content: center;
}
// ------------------------ navbar cart icon END------------------------ //
.cart-show-component {
  margin-right: 5vh;
  margin-left: 5vh;
}

.cart-show-header {
  display: flex;
  justify-content: space-between;
}

.cart-show-keep-shopping-button {
  all: initial;
  * {
    all: unset;
  }
  // ^ clears all styling
  display: block;
  cursor: pointer;
  border: 0.1rem solid lightgray;
  font-size: 2vh;
  color: rgb(96, 96, 96);
  padding-right: 1.4vh;
  padding-left: 1.4vh;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  text-decoration: none;
  border-radius: 0.7rem;
  margin: 0.7rem;
  text-align: center;
  font-weight: 30;
}

.cart-show-keep-shopping-button:hover {
  background-color: rgb(247, 247, 247);
}

.cart-content-container {
  display: flex;
  padding: 1.8rem;
  margin-bottom: 10%;
}

.checkout-payment-method-icon {
  border: 0.1rem solid lightgray;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.4rem;
  margin-right: 1rem;
}

.cart-show-items-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 1.6vh;
  padding-top: 0.4vh;
}

.cart-show-items-total-price {
  font-size: 1.8vh;
}

.cart-products-ul-col {
  padding: 0;
  padding-right: 1.8rem;
  width: 70%;
  border-right: 0.1rem solid lightgray;
}

.cart-show-checkout-col {
  padding-left: 1.8rem;
  width: 30%;
}

#proceed-to-checkout-button {
  margin: 0;
  padding-top: 1.2rem;
  font-family: 'Noto Serif', serif;
  width: 85%;
}

.cart-show-payment-option {
  padding-bottom: 0.6rem;
}

.cart-products-item-li {
  list-style-type: none;
  padding-bottom: 1vh;
  border-bottom: 0.1rem solid lightgrey;
}

// ------------------------ checkout radio button START------------------------ //
input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 2vh;
  height: 2vh;

  border: 0.1rem solid rgb(191, 191, 191);
  transition: 0.2s all linear;
  margin-right: 0.7vh;
  margin-bottom: 1vh;

  position: relative;
  top: 0.4rem;
}

input[type='radio']:hover {
  border: 0.1rem solid rgb(135, 135, 135);
}

input[type='radio']:checked {
  border: 0.1rem solid rgb(171, 171, 171);
  background-color: orange;
}

// ------------------------ checkout radio button END------------------------ //

.cart-is-empty-message-container {
  padding-top: 2.4rem;
  width: 100%;
  text-align: center;
}

.cart-is-empty-message-box {
  padding: 1.8rem;
  border: 0.1rem solid lightgray;
  width: 80%;
  margin-bottom: 10%;
  display: inline-block;
  margin: 0 auto;
}
// Centering technique applied to .cart-is-empty-message-container and .cart-is-empty-message-box
//  : https://www.w3docs.com/snippets/css/how-to-horizontally-center-a-div-in-another-div.html

.cart-is-empty-message {
  display: block;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: center;
}

.cart-is-empty-link-div {
  display: block;
  padding-bottom: 1.2rem;
  text-align: center;
}

.cart-is-empty-link {
  color: black;
}

.cart-is-empty-link:hover {
  color: rgb(57, 57, 57);
}

.proceed-to-checkout-modal-div {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.personal-account-img-link.checkout {
  width: 10rem;
  fill: black;
}

.personal-account-img-link.checkout.linkedin {
  padding-left: 2rem;
}

.listing-right-column,
.listing-left-column {
  padding: 0 1.8rem;
  width: 50%;
}

.product-show-title {
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
  padding-bottom: 0.7rem;
  text-rendering: optimizeLegibility;
}

.product-show-price {
  font-family: 'Poppins', sans-serif;
  font-size: 130%;
  line-height: 1.4;
}

.quantity-label {
  display: block;
  padding-bottom: 0.6rem;
  font-family: 'Raleway', sans-serif;
}

.product-show-quantity-select {
  padding-bottom: 1vh;
}

.product-show-add-to-cart-button {
  all: initial;
  * {
    all: unset;
  }
  width: 80%;
  display: block;
  cursor: pointer;
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none;
  border-radius: 0.3rem;
  border-style: solid;
  color: white;
  margin-top: 0.7rem;
  text-align: center;
  background-color: black;
  font-size: 1.5rem;
  line-height: 1.2;
  border-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

.product-show-add-to-cart-button:hover {
  background-color: rgb(55, 55, 55);
}

.product-show-add-to-cart-button-text {
  color: white;
}

.product-show-quantity-dropdown {
  background-color: white;
  display: inline;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  border-style: none;
  border: 0.1rem solid #e1e3df;
  box-shadow: none;
}

.product-show-seller-username {
  color: #757575;
  text-decoration: none;
  font-size: 1.8vh;
}

.product-show-seller-username:hover {
  text-decoration: underline;
}

.clearfix {
  overflow: auto;
}

.product-show-container {
  margin: 0 10%;
  padding-bottom: 13rem;
}
.product-listing {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
}

// ------- product show lower details (doesn't include comments) START ------- //
.product-show-column {
  float: left;
  padding: 0 1.8rem;
  box-sizing: border-box;
  margin-bottom: 5%;
}

.product-show-column2 {
  width: 50%;
}

.product-show-column1 {
  width: 50%;
  border-right: 0.1rem solid whitesmoke;
  position: relative;
}

.product-show-write-review-button {
  all: initial;
  * {
    all: unset;
  }
  cursor: pointer;
  border-radius: 0.3rem;
  margin-top: 0.7rem;
  text-align: center;
  background-color: white;
  font-size: 1.5rem;
  line-height: 1.2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0.1rem solid gray;
  display: inline-block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
}

.product-show-write-review-signin-requirement {
  color: lightgray;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2rem;
}

.review-signin-requirement-links {
  color: lightgray;
}
.review-signin-requirement-links:hover {
  opacity: 0.8;
}

.product-show-write-review-button:hover {
  opacity: 0.6;
}

.product-show-description {
  margin: 0;
  margin-top: 1rem;
}

.product-show-divider {
  width: 80%;
  border: 0.1rem solid whitesmoke;
}

.product-show-divider.reviews {
  width: 100%;
}

// ------- product show lower details (doesn't include comments) END ------- //

.product-show-lower {
  display: flex;
  box-sizing: border-box;
  clear: both;
  margin-top: 2rem;
  padding-bottom: 15%;
}

.product-show-lower:after {
  content: '';
  display: table;
  clear: both;
}

.product-show-imgs-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-show-add-to-cart-container {
  text-align: center;
}

.product-show-carousel-images {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 40vw;
  max-height: 60vh;
}

.error {
  list-style-type: circle;
  color: darkred;
  float: left;
}

.errors-ul {
  margin-bottom: 3rem;
}

.text-link-underline-hover {
  padding-right: 2vh;
  padding-left: 2vh;
  text-decoration: none;
  color: black;
}

.text-link-underline-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.black-background-button {
  all: initial;
  * {
    all: unset;
  }
  display: block;
  cursor: pointer;
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none;
  border-radius: 0.3rem;
  color: white;
  margin: 0.7rem;
  text-align: center;
  background-color: black;
}

.black-background-button:hover {
  background-color: rgb(55, 55, 55);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 130rem;
  margin: 1.1rem auto 0 auto;
  box-sizing: border-box;
}

.header-categories.top-bar {
  padding: 0.2rem 1rem;
  margin: 0.2rem auto 0 auto;
}

.header-categories__item {
  margin: 0 1rem;
}

.top-bar-divider {
  height: 1px;
  color: lightgray;
  background-color: lightgray;
  border: none;
}

.navbar-right-side-content {
  display: flex;
  align-items: center;
}

.navbar-right-side-content > * {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.product-index-home-image {
  height: 20.5rem;
  width: 100%;
  object-fit: cover;
  object-position: 100% 90%;
}

.product-index-home-image-container {
  position: relative;
  width: 100%;
}

.product-index-home-image-text {
  position: absolute;
  bottom: 2rem;
  left: 5%;
  color: white;
  font-size: 120%;
}

.search-input-field-container-main {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input-field-container-sub {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  padding: 0 1.5rem;
  margin-top: 1rem;
  border-radius: 2rem;
  border: 0.1rem solid lightgray;
}

.search-input-field {
  height: 3.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.15rem;
  border: none;
  width: 100%;
  background-color: inherit;
  &:focus {
    outline: none;
  }
}

.logo {
  color: grey;
  font-size: 3rem;
  text-decoration: none;
  padding-right: 1.5rem;
}

.loading-modal {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.hamburger-menu-icon {
  margin: 0.7rem 1rem 0 0;
  display: none;
}

.cart-products-item {
  display: flex;
  justify-content: space-between;
}

.cart-products-item-price {
  margin: 0;
  text-decoration: none;
  color: black;
}

.cart-products-item-title {
  float: left;
  padding-left: 1.2rem;
  width: 80%;
  margin: 0;
  padding-bottom: 0.6rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7vh;
}

.cart-products-item-title:hover {
  text-decoration: underline;
}

.cart-products-item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.cart-products-item-title-and-remove {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.cart-products-item-remove {
  font-size: 1.5vh;
  left: 0;
  bottom: 0;
}

.cart-product-item-drop-down {
  background-color: white;
  display: inline;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  border-style: none;
  border: 0.1rem solid rgb(200, 201, 199);
  box-shadow: none;
}

.cart-product-item-quantity-and-price {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.cart-products-item-title-link {
  color: black;
}

#form-submit-button {
  width: 83%;
}

.product-form-image-preview {
  object-fit: scale-down;
  width: 30rem;
  height: 30rem;
  object-position: 50% 50%;
}

.product-form-box {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
  padding-bottom: 3%;
  border: 0.1rem solid lightgray;
  width: 55%;
  margin-top: 20px;
}

.product-form-box-container {
  display: flex;
  justify-content: center;
}

#product-form-delete-button {
  background-color: darkred;
  width: 83%;
}

.product-form-image-preview-ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-form-content {
  width: 70%;
}
.product-form-oneline-input {
  display: block;
  height: 4.8rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-style: none;
  border: 0.1rem solid #e1e3df;
  box-shadow: none;
  width: 80%;
}

.product-form-label {
  font-size: 0.1rem;
}

.product-form-textarea-input {
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1.6rem;
  border-style: none;
  border: 0.1rem solid #e1e3df;
  box-shadow: none;
  width: 80%;
}

.product-form-file-input {
  width: 0.01rem;
  height: 0.01rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.product-form-file-input-label {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-form-file-input-border-box {
  position: relative;
  width: 30rem;
  height: 30rem;
}

.product-form-file-input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.product-form-select-image-statement {
  position: absolute;
  top: 13.3rem;
  left: 7.5rem;
  margin: 0;
}

.product-form-sublabel {
  margin: 0px;
  font-size: 1.2rem;
}

.drawer-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 1;
  display: block;
  animation: fade-in 0.1s ease-in;
}

.drawer-background.closed {
  visibility: hidden;
  animation: fade-out 0.3s ease-in;
}

.drawer-child {
  font-family: 'Raleway';
  position: absolute;
  width: 100%;
  background-color: white;
}

.drawer-child.up {
  border-top: 1rem solid purple;
  bottom: 0;
  height: 80%;
}

.drawer-close-btn {
  float: right;
  font-size: 4rem;
  margin: 1rem 2rem 0 0;
  color: gray;
}

.footer-top-edges {
  width: 100%;
  height: 13vh;
}

.footer-container {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  font-size: 0;
}

.personal-links-container {
  margin-top: 1rem;
  position: absolute;
  right: 2vw;
  top: 6vh;
}

.personal-account-img-link {
  width: 4vw;
  max-width: 3rem;
  height: 100%;
  fill: white;
  margin-left: 0.5vw;
  opacity: 0.8;
}

.personal-account-img-link:hover {
  opacity: 1;
}

.footer-documentation-button {
  position: absolute;
  color: white;
  font-size: 1.6rem;
  left: 1vw;
  top: 8.3vh;
  opacity: 0.8;
}

.footer-documentation-button:hover {
  opacity: 1;
}

#root {
  min-height: 120vh;
}

.footer-second-layer {
  background-color: #232247;
  width: 100%;
  height: 4vh;
  font-size: 1rem;
  display: inline-block;
}

.footer-second-layer-created-by {
  margin-top: 1.8vh;
  margin-left: 1%;
  color: #406196;
  font-size: 0.8rem;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-index-image {
  object-fit: scale-down;
  width: 12.5rem;
  height: 10rem;
  object-position: 50% 50%;
  border: 0.03rem solid lightgray;
}

.product-index-item-price {
  margin: 0;
  color: black;
  font-size: 2vh;
  font-weight: 500;
  font-family: 'Noto Serif', serif;
}

.product-index-item {
  padding: 0.9rem;
  max-width: 12.5rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.product-index-item-list-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10rem;
}

.product-index-list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.product-index-item-seller-username {
  margin: 0;
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
  font-size: 1.4vh;
  color: #595959;
}

.product-index-item-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // ^^^ Source for text-wrap: https://stackoverflow.com/a/34559614/7974948
  color: black;
  font-size: 1.8vh;
  margin: 0;
}

.product_index_catchphrase {
  text-align: center;
}

.product_index_photo_carousel_image {
  object-fit: scale-down;
  height: 50vh;
}

.products-index-what-is-jewely-container {
  padding-bottom: 13vh;
  text-align: center;
  background-color: #fcf0e3;
}

.products-index-what-is-jewely-img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 80rem;
}

.review-form-div {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.rating-star {
  width: 3rem;
}

.rating-stars {
  display: flex;
}

.product-show-review-rating-star {
  width: 1.4rem;
}

.product-show-average-rating-star {
  width: 1.8rem;
}

.product-show-avg-rating-container {
  display: flex;
}

.reviews-count {
  font-size: 1.3rem;
}

.product-show-review-li {
  list-style-type: none;
  position: relative;
}

.review-edit-button {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  top: 0;
  right: 0;
}

.review-edit-button:hover {
  opacity: 0.5;
}

.review-delete-button {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  top: 0.8rem;
  right: 0;
}

.review-delete-button:hover {
  opacity: 0.5;
}

.product-show-review-username {
  color: black;
}

.product-show-review-username:hover {
  color: gray;
}

.product-show-review-username-and-date-container {
  display: flex;
}

.product-show-reviews-ul {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 7.5rem;
}

.review-form-submit-button {
  all: initial;
  * {
    all: unset;
  }
  cursor: pointer;
  border-radius: 0.3rem;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  line-height: 1.2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0.1rem solid gray;
  display: inline-block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  margin-top: 1rem;
}

.review-form-submit-button:hover {
  opacity: 0.8;
}

.review-form-textarea {
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: none;
  border: 0.1rem solid white;
  box-shadow: none;
}

// ------------------------ session form styling START ------------------------ //
.login-form-box {
  border: 0.1rem solid grey;
  margin-bottom: 10%;
  width: 33%;
  padding-right: 7vh;
  padding-left: 7vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.login-form-container {
  padding-top: 4vh;
  display: flex;
  justify-content: center;
}

.session-textbox {
  display: block;
  height: 4.8rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-style: none;
  border: 0.1rem solid #e1e3df;
  box-shadow: none;
  width: 90%;
}

.session-form-nav-button {
  all: initial;
  * {
    all: unset;
  }
  // ^ clears all styling
  display: block;
  cursor: pointer;
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none;
  border-radius: 0.7rem;
  color: black;
  margin: 0.7rem;
  text-align: center;
}

.session-form-nav-button:hover {
  background-color: rgb(247, 247, 247);
}

// ------- session 'OR' START------- //
.divider {
  width: 100%;
  text-align: center;
}

.divider hr {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  color: lightgrey;
}

.left {
  float: left;
}

.right {
  float: right;
}
// source: https://stackoverflow.com/a/2812819/7974948
// ------- session 'OR' END------- //

// ------------------------ session form styling END ------------------------ //
// ------------------------ navbar buttons START------------------------ //
.login-navbar-button {
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none;
  border-radius: 0.7rem;
  color: black;
}

.login-navbar-button:hover {
  background-color: black;
  color: white;
}

.logout-navbar-button {
  background-color: white;
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none;
  border-radius: 0.7rem;
  cursor: pointer;
  color: black;
}

.logout-navbar-button:hover {
  background-color: black;
  color: white;
}

// ------------------------ navbar buttons END ------------------------ //

.user-show-item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.user-show-item-title {
  float: left;
  padding-left: 1.2rem;
  width: 80%;
  margin: 0;
  padding-bottom: 0.6rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7vh;
}

.user-show-item-title:hover {
  text-decoration: underline;
}

.user-show-item-price-container {
  padding-right: 10%;
  width: 10%;
  display: flex;
  align-content: flex-start;
}

.user-show-item-price {
  margin: 0;
  text-decoration: none;
  color: black;
}

.user-show-item-title-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.user-show-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-show-product-list-label {
  margin-top: 1rem;
  padding-left: 1rem;
}

.user-show-products-ul {
  list-style-type: none;
  padding: 0;
}

@import './abstract/keyframes';
@import './abstract/media_queries';
