
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo {
  color: grey;
}

.error {
  list-style-type: circle;
  color: darkred;
  float: left;
}

.errors-ul {
  margin-bottom: 30px;
}

.text-link-underline-hover {
  padding-right: 2vh;
  padding-left: 2vh;
  text-decoration: none; 
  color: black;
}

.text-link-underline-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}


.black-background-button {
  all: initial;
  * {
    all: unset;
  }
  display: block;
  cursor: pointer;
  border: 1px solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none; 
  border-radius: 3px;
  color: white;
  margin: 7px;
  text-align: center;
  background-color: black;
  // task : Make this take the max width
}

.black-background-button:hover {
  background-color: rgb(55, 55, 55);
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  font-family: 'Poppins', sans-serif;
}