/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './api/abstract/variables';

html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

html,
body {
  min-height: 120vh;
}

body {
  font-size: 1.5rem;
}

svg {
  height: 2.4rem;
  width: 2.4rem;
  padding-left: 0.8rem;
}

.main-container-div {
  position: relative;
  min-height: 120vh;
}

.error {
  list-style-type: circle;
  color: darkred;
  float: left;
}

.errors-ul {
  margin-bottom: 3rem;
}

.text-link-underline-hover {
  padding-right: 2vh;
  padding-left: 2vh;
  text-decoration: none;
  color: black;
}

.text-link-underline-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.black-background-button {
  all: initial;
  * {
    all: unset;
  }
  display: block;
  cursor: pointer;
  border: 0.1rem solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none;
  border-radius: 0.3rem;
  color: white;
  margin: 0.7rem;
  text-align: center;
  background-color: black;
  // task : Make this take the max width
}

.black-background-button:hover {
  background-color: rgb(55, 55, 55);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.top-bar {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  max-width: 130rem;
  margin: 1.1rem auto 0 auto;
  box-sizing: border-box;
}

.top-bar-divider {
  height: 1px;
  color: lightgray;
  background-color: lightgray;
  border: none;
}

.navbar-right-side-content {
  display: flex;
  align-items: center;
}

.navbar-right-side-content > * {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.product-index-home-image {
  height: 20.5rem;
  width: 100%;
  object-fit: cover;
  object-position: 100% 90%;
}

.product-index-home-image-container {
  position: relative;
  width: 100%;
}

.product-index-home-image-text {
  position: absolute;
  bottom: 2rem;
  left: 5%;
  color: white;
  font-size: 120%;
}

.search-input-field-container-main {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input-field-container-sub {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  padding: 0 1.5rem;
  margin-top: 1rem;
  border-radius: 2rem;
  border: 0.1rem solid lightgray;
}

.search-input-field {
    height: 3.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.15rem;
    border: none;
    width: 100%;
    background-color: inherit;
    &:focus {
      outline: none;
    }
}

.logo {
  color: grey;
  font-size: 3rem;
  text-decoration: none;
  padding-right: 1.5rem;
}

.loading-modal {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

@media only screen and (max-width: $bp-small) {
  .logo {
    font-size: 2.5rem;
    padding: 0;
    width: 40%;
  }

  .navbar-right-side-content {
    width: 60%;
  }

  .search-input-field-container-main {
    order: 3;
    max-width: none;
  }

  .top-bar {
    flex-wrap: wrap;
    padding: 0 1rem;
  }
}
